tml{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

.header{
	background: url(../img/bg-1.png);
	/*height: 859px;*/
	background-repeat: no-repeat;
	background-size: contain;
	/*background-position*/: 150% 150%;
	background-position-x: -129px;
	background-position-y: -10px;
	position: relative;
}

.header__mobile-menu{
	display: none;
	height: 132px;
}

.mobile__logo-img{
	width: 55px;
	height: 51px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
}
.mobile__contacts{
	text-align: center;
	margin-top: 37px;
}

/*Бургер меню*/

.menu-btn{
  display: none;
  align-items: center;
  position: absolute;
  top: 66px;
  right:20.18px;
  width: 34.78px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
 
.menubox{
  display: block;
  position: absolute;
  visibility: hidden;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 21px 29px 21px;
  list-style: none;
  background-color: #3E99F7;
  box-shadow: 0px 8px 0px rgba(10, 16, 21, 0.34);
  transition-duration: .25s;
  display: none;
}
 
.menu-item {
  display: block;
  padding: 9px 21px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
  width: 220px;
}
.menu-item:hover {
  background-color: #526dd5;
}

#menu-item02{
	padding-left: 10px;
}

.menu__li{
	font-weight: 600;
}

 .mobile__contacts-social{
 	margin-top: 20px;
 }

 .mobile__social-img+ .mobile__social-img{
 	margin-left: 12.47px;
 }
 
 .facts__play-mobile{
 	display: none;
 }

#menu-toggle{
  opacity: 0;
}
 
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  top: 130px;
  display: block;
}



/*Бургер меню*/

.header__link-img{
	position: absolute;
	top: 170px;
	right: 345px;
}
h2{
	text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-top: 113px;
    padding-bottom: 17.21px;
    line-height: 61px;
}

.container{
	max-width: 1290px;
	margin: 0 auto;	
	padding-left: 10px;
	padding-right: 10px;
}

.header__top {
	box-shadow: 0px 8px 40px rgba(10, 16, 21, 0.34);
	background-color: #3E99F7;
	color: #fff;
	padding-top: 15px;
	z-index: -1;

}

.header__top-wrapper {
	display: flex;
}

.header__top-title{
	font-weight: 600;
	margin-bottom: 9px;

}
.office {
	width: 170px;
	font-style: 16px;
	font-weight: 600;
}

.country-selection {
	display: flex;
	


}

.flag-icon {
	width: 31px;
	height: 16px;
	margin-top: auto;
	margin-bottom: auto;
}

.country{
	margin-left: 10px;

}

.arrow {
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

.address {
	margin-left: 50px;

}

.header__top-text{
	font-weight: 400;

}

.e-mail{
	margin-left: 95px;
}

.phone {
	margin-left: 84px;
}

.phone-number{
	font-weight: bold;
}

.social__list{
	list-style-type: none;
	display: flex;
}


.social__list-item{
	margin-top: 11px;
	padding-bottom: 35px;
}

.social__list-item+ .social__list-item{
	margin-left: 15px;

}

.logo{
	margin-left: 79px;
	margin-top: 20px;
	margin-right: 0px;

}

.header__content{
	
	padding-top: 96px;
	

}

.header__contetn-title{
	max-width: 854px;
	font-size: 45px;
	line-height: 3.75rem;
	color: #fff;
	font-weight: 400;
}

.objects{
	color: #fff;
	margin-top: 54px;
}

.objects__content{
	margin-top: 24px;
	display: grid;
	grid-template-columns: 235px 204px 229px;
	grid-template-rows: 52.17px 52.17px;
	

}

.objects-title{
	font-size: 24px;
}

.objects__contetn-item{
	display: flex;
	justify-content: center;
	align-items: center
}


.number{
	font-size: 70px;
	line-height: 0.7em;
	font-weight: 800;
	text-transform: uppercase;
	color: #FFF;
	display: inline-block;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.objects-text{
	max-width: 135px;
	line-height: 24px;
}

.text01{
	margin-left: 20px;

}

.text02{
	margin-left: 20px;

}

.text03{
	margin-left: 20px;

}

.item01{
	grid-row: 1 / 2;
}

.item02{
	grid-row: 2 / 4;
	grid-column: 2 / 3;
	margin-top: 13px;
	margin-bottom: 98.32px;
}

.item03{
	grid-column: 3 / 4;
}

.form-wrapper{
	text-align: center;
	/*margin-top: -50px;*/
	position: relative;
}


form{
	background-color: #E6E6E6;
}



input{
	color: #747474;
}

.input-phone{
	width: 380px;
	height: 50.17px;
	margin: 30px 30px 30px 0;
	border: none;
	padding: 0 0 0 20px;

}

.input-name{
	width: 380px;
	height: 50.17px;
	margin: 30px 30px 30px 30px;
	border: none;
	padding: 0 0 0 20px;
}

button{
	background: #FF2A00;
	font-weight: 600;
	font-size: 16px;
	/*padding: 15.05px 115px;*/
	width: 380px;
	height: 50.17px;
	margin: 30px 30px 30px 0;
	padding: 0;
	border: none;
	color: white;
	text-transform: uppercase;
	cursor: pointer;

}

.rectangle01{
	position: absolute;
	top: -14px;
	left: -14px;
}

.rectangle02{
	position: absolute;
	bottom: -8px;
	left: 26px;
}

.rectangle03{
	position: absolute;
	top: 8px;
	left: 214px;
}

.section{
	
}

.benefits{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 20px;
	align-items: baseline;
    justify-items: center;

}

.banefits__title{
	text-align: center;
}

.benefits__item{
	padding: 10px;
	text-align: center;
}

.benefits__item-text{
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

.ben__item01{
	grid-column: 1 / 2;
	
}

.benefits__btn{
	border: 1px solid #0099FF;
	color: #0099FF;
	text-transform: uppercase;
	padding: 15px 77px;
	text-align: center;
}

.benefits__btn:hover{
	background-color: #0099FF;
	color: #fff;
	transition: 0.3s;
}

.btn-wrapper{
	text-align: center;
	margin-top: 24px;
}

.form02{
	margin-top: 80px;
}

.projects{
	text-align: center;
	position: relative;
}

.projects__title{
	padding-bottom: 60px;
}

.project__content{
	max-width: 850px;
	margin: 0 auto;
}

.project__content-item{
	text-align: center;
	
}

.project__content-title{
	font-size: 24px;
	line-height: 29.26px;
	padding-bottom: 31px;
	font-weight: 500;
	text-transform: uppercase;
}

.project__content-img{
	padding-bottom: 30px;
}

.slick-arrow{
	background: none;
}

.project-arrow-prev{
	position: absolute;
	left: -222px;
	top: 30%;
	background: url('../img/button/prev.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 137px;
	height: 100px;
}

.project-arrow-next{
	position: absolute;
	right: -252px;
	top: 30%;
	background: url('../img/button/next.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 137px;
	height: 100px;
}

.slick-prev:hover{
	background: url('../img/button/prev-hover.png');
	transition: 0.3s;
}

.slick-next:hover{
	background: url('../img/button/next-hover.png');
	transition: 0.3s;
}

 .slick-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
}  

 .slick-dots button {
    background: url('../img/button/dots.png');
    background-repeat: no-repeat;
    border: none;
    width: 25px;
    height: 2px;
    margin: 32px 15px 15px 15px;
    margin-bottom: 40px;
}   

.slick-active button{
	background: url('../img/button/dots-active.png');
	width: 45px;
	transition: 0.3s;
}



.project__content-btn{
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 19.5px;
	border: 1px solid #3E99F7;
	padding: 15px 28px;
	width: 335px;
	height: 50px;
	margin-top: 40px;
	color: #3E99F7;

}

.project__content-btn+ .project__content-btn{
	margin-left: 30px;
}

.project__content-btn:hover{
	background-color: #0099FF;
	transition: 0.3s;
	color: #fff;
}

.credit{
	max-width: 1300px;
	margin-top: 80px;
	text-align: center;
	align-items: center;
	text-align: center;
}



.credit__item{
	border: 2px solid #E6E6E6;
	/*max-width: 410px;
	margin: auto;
	margin-left: auto;*/
}

.credit__item+ .credit__item{
	margin-left: 30px;
}

.credit__item-img{
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.credit__item-text{
	padding: 40px 40px 30px 40px;
}

.credit .credit__item img{
	margin: 0 auto;
}

.credit__item-link{
	display: flex;
	justify-content: space-between;
	width: 152px;
	margin-left: auto;
	margin-right: auto;
	color: #FF2A00;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 52px;
}

.credit__arrow-prev{
	position: absolute;
	left: -100px;
	top: 30%;
	background: url('../img/button/prev.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;

}

.credit__arrow-next{
	position: absolute;
	right: -103px;
	top: 30%;
	background: url('../img/button/next.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;
	transition: 0.3s;
}

.credit__arrow-prev:hover{
	position: absolute;
	left: -100px;
	top: 30%;
	background: url('../img/button/prev-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;
	transition: 0.3s;
}

.credit__arrow-next:hover{
	position: absolute;
	right: -103px;
	top: 30%;
	background: url('../img/button/next-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;
}

.facts__content-wrapper{
	max-width: 797px;
	text-align: left;
	margin-bottom: 60px;
}
.facts__img-mobile{
	display: none;
}

.facts__title{
	margin-top: 10px;
	padding-bottom: 61px;
}

.facts__color-text{
	color: #FF2A00;
}

.facts__content{
	position: relative;
	padding: 0 0 0 38px;
	border-left: 1px solid rgba(0, 0, 0, 0.19);
}

.facts__content-text{
	padding-bottom: 30px;
	line-height: 24px;
	margin-top: -3px;
}

.facts__content-text:last-child{
	padding-bottom: 0;
}

.facts__content-img{
	position: absolute;
	left: -9px;
}

.facts__content{
	margin-bottom: 46px;
	max-width: 585px;
}

.facts-btn{
	text-align: left;
}

.facts-wrapper{
	position: relative;
	/*padding-top: 50px;*/
	background-image: url(../img/img.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right center;

}

.facts__play{
	position: absolute;
	top: 55%;
	right: 250px;
}

.partners__titel{
	text-align: center;
}

.partners__slider{
	margin-top: 80px;

}


.partners__slider-img{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.partners__arrow-prev{
	position: absolute;
	left: -100px;
	top: -20px;
	background: url('../img/button/prev.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;
	transition: 0.3s;
}

.partners__arrow-next{
	position: absolute;
	right: -103px;
	top: -20px;
	background: url('../img/button/next.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;
	transition: 0.3s;
}

.partners__arrow-prev:hover{
	position: absolute;
	left: -100px;
	top: -20px;
	background: url('../img/button/prev-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;
	transition: 0.3s;
}

.partners__arrow-next:hover{
	position: absolute;
	right: -103px;
	top: -20px;
	background: url('../img/button/next-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 87px;
	height: 100px;
}



.footer{
	background: #3E99F7;
	height: 222px;
	color: #fff;
	padding-top: 55px;
	margin-top: 120px;

}

.footer__wrapper{
	display: flex;
	justify-content: space-between;
}

.footer__title{
	font-size: 16px;
	font-weight: 600;
	line-height: 19.5px;
	padding-bottom: 15px;
}

.menu__list-item{
	padding-bottom: 15px;
	list-style: none;
}

.footer__logo-text{
	max-width: 300px;
}

.footer__link+ .footer__link{
	margin-left: 20px;
}

.footer__social{
	margin-top: 13.14px;
}

.footer__text-mobile{
	display: none;
}

/*Адаптация*/
@media	(max-width: 1860px){
	.header__link-img{
		top: 170px;
		right: 200px;
	}
	
}
@media	(max-width: 1710px){
	.header__link-img{
		top: 170px;
		right: 200px;
	}
	
}
@media	(max-width: 1610px){
	.header__link-img{
		top: 170px;
		right: 200px;
	}
	
}

@media	(max-width: 1562px){
	.header__link-img{
		top: 170px;
		right: 70px;
	}
}

@media	(max-width: 1530px){
	.facts__img-mobile{
		display: block;
		position: relative;
		margin-left: auto;
		max-width: 100%;
	}
	.facts__title{
		display: none;
	}
	h2{
		display: block;
		text-align: center;
	}
	.facts-wrapper{
		background: none;
	}
	.facts__play{
		display: none;
	}
	
	.facts__play-mobile{
		display: block;
		position: absolute;
		top: 32%;
		left: 60%;
	}
	.facts-btn{
		text-align: center;
	}
	
}

@media	(max-width: 1500px){
	.header{
		background-position-x: -229px;
		background-position-y: 5px;
	}
}

@media	(max-width: 1460px){
	.facts-wrapper{
		margin-top: 50px;
	}
	.credit__arrow-next{
		top: auto;
		right: 35%;
		bottom: -120px;
	}
	.credit__arrow-prev{
		left: 38%;
		top: auto;
		bottom: -120px;
	}
	.credit__arrow-next:hover{
		top: auto;
		right: 35%;
		bottom: -120px;
	}
	.credit__arrow-prev:hover{
		left: 38%;
		top: auto;
		bottom: -120px;
	}
	.partners__arrow-prev{
		left: 38%;
		top: auto;
		bottom: -120px;
	}
	.partners__arrow-next{
		top: auto;
		right: 35%;
		bottom: -120px;
	}
	.partners__arrow-prev:hover{
		left: 38%;
		top: auto;
		bottom: -120px;
	}
	.partners__arrow-next:hover{
		top: auto;
		right: 35%;
		bottom: -120px;
	}
	.facts__content{
		margin-left: 5px;
	}
	.facts__play{
		top: 55%;
    	right: 180px;
	}
	.header{
		background-size: cover;

	}

	.header__link-img{
		/*width: 700px;*/
		top: 170px;
		right: 90px;
	}
	.header{
		background-position-x: -229px;
		background-position-y: -10px;
	}
}

@media	(max-width: 1350px){
	.header__contetn-title{
		max-width: 654px;
    	font-size: 35px;
	}

	.item03{
		grid-column: 1/2;
		grid-row: 3/4;
	}
}



@media	(max-width: 1310px){
	.project-arrow-next{
	right: -180px;
	}

	.project-arrow-prev{
	left: -150px;
	}
	.input-phone{
		width: 340px;
	}
	.input-name{
		width: 340px;
	}
	button{
		width: 340px;
	}
	.e-mail{
		margin-left: 30px;
	}
	.phone{
		margin-left: 30px;
	}
	
}

@media	(max-width: 1192px){
	.header{
		background: url(../img/bg-2.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		background-position-y: -500px;
	}
	.header__link-img{
		position: absolute;
		/*width: 700px;*/
		top: 400px;
		right: 100px;
	}
	.header__contetn-title {
    	max-width: 854px;
    	font-size: 45px;
	}
	.item03 {
    	grid-column: 1/2;
    	grid-row: 3/4;
	}
	.form01{
		margin-top: 190px;
	}
	.form02{
		margin-top: 80px;
	}
	.form03{
		margin-top: 0;
	}
	button{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.input-name{
		width: 300px;
	}
	.input-phone{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.header__contetn-title{
		font-size: 60px;
	}
}

@media	(max-width: 1140px){
	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 230px;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 260px;
	}

	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 230px;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 260px;
	}

	.project__content{
		margin-bottom: 150px;
	}

	.benefits__item04{
		display: none;
	}
	.benefits__item05{
		display: none;
	}
	.benefits{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media	(max-width: 1110px){
	.form01{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.input-name{
		margin-left: auto;
		margin-right: auto;
	}
	.header{
		background-position-y: -100px;
		background-size: cover;
	}
	.rectangle03{
		left: auto;
		right: 50px;
		top: -7px;
	}
	.form01{
		margin-top: 370px
	}
	.form02{
		margin-top: 80px
	}
	.form03{
		margin-top: 0;
	}
	.header__link-img{
		top: 670px;
		right: 200px;
	}
}
@media	(max-width: 1020px){
	.menu-btn{
		display: flex;
	}
	.header__top-wrapper{
		display: none;
	}
	.header__mobile-menu{
	
	display: flex;
    justify-content: space-between;
}
}

@media	(max-width: 920px){
		.header__link-img{
		top: 670px;
		right: 20%;
	}
	.footer{
		height: auto;
	}
	.footer__wrapper{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
		align-items: center;
	}
	.footer__logo-text{
		display: none;
	}
	.footer__logo{
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		text-align: center;
	}
	.footer__menu{
		grid-column: 1 / 2;
		grid-row: 2 / 4;
	}
	.footer__text-mobile{
		display: block;
		grid-row: -1 / -2;
		grid-column: 1 / 3;
		text-align: center;
		align-items: center
	}
	.footer__social{
		grid-column: 1 / 3;
		grid-row: -2 / -3;
		text-align: center;
	}
}

@media	(max-width: 820px){
	.header__link-img{
		top: 670px;
		right: 15%;
	}
	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 210px;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 240px;
	}
	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 210px;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 240px;
	}
}

@media	(max-width: 791px){
	.header__contetn-title{
		font-size: 40px;
	}
	.form01{
		margin-top: 340px
	}

	.form02{
		margin-top: 50px
	}

	.form03{
		margin-top: 0;
	}

	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 150px;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 180px;
	}
	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 150px;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 35%;
	}
	.credit__arrow-next{
		top: auto;
		right: 30%;
		bottom: -120px;
	}
	.credit__arrow-prev{
		left: 33%;
		top: auto;
		bottom: -120px;
	}
	.credit__arrow-next:hover{
		top: auto;
		right: 30%;
		bottom: -120px;
	}
	.credit__arrow-prev:hover{
		left: 33%;
		top: auto;
		bottom: -120px;
	}

	.partners__arrow-next{
		top: auto;
    	right: 25%;
    	bottom: -120px;
	}
	.partners__arrow-prev{
		left: 33%;
    	top: auto;
    	bottom: -120px;
	}
	.partners__arrow-next:hover{
		top: auto;
    	right: 25%;
    	bottom: -120px;
	}
	.partners__arrow-prev:hover{
		left: 33%;
    	top: auto;
    	bottom: -120px;
	}
	h2{
		font-size: 30px;
	}
}

@media	(max-width: 755px){
	/*.header{
		background-position-y: -200px;
	}*/
	
}

@media	(max-width: 720px){
	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 140px;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 170px;
	}
	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 140px;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 170px;
	}
	.project__content-btn+ .project__content-btn {
    margin-left: auto;
}
	.project__btn-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.project__content-btn{
		margin-left: auto;
		margin-right: auto
	}

}

@media	(max-width: 680px){
	.header__link-img{
		right: -1%;
	}
	.project__btn-wrapper a:first-child{
	margin-top: 0;
}
	h2{
		padding-bottom: 40px;
		font-size: 26px;
		/*margin-top: 50px;*/
	}
	.project__content-title{
		font-size: 20px;
	}
	.projects__title{
		padding-bottom: 40px;
	}
	.facts__title{
		font-size: 26px;
		text-align: center;
	}
	.benefits{
		grid-template-rows: revert;
	}
	.benefits__item{
		display: flex;
		align-items: center;
		padding: 0 10px;
	}
	.benefits__item08{
		display: none;
	}
	.benefits__item07{
		display: none;
	}
	.benefits__item06{
		display: none;
	}
	.benefits__item05{
		display: none;
	}
	.benefits__item01{
		grid-column: 1 / 4;
	}
	.benefits__item02{
		grid-column: 1 / 4;
		flex-direction: row-reverse
	}
	.benefits__item03{
		grid-column: 1 / 4;
	}
	.benefits__item04{
		grid-column: 1 / 4;
		flex-direction: row-reverse;
	}
}

@media	(max-width: 640px){
	.project-arrow-next{
    	top: auto;
    	bottom: -120px;
    	right: 100px;
	}
	.project-arrow-prev{
    	top: auto;
    	bottom: -120px;
    	left: 130px;
	}
	.project-arrow-next:hover{
    	top: auto;
    	bottom: -120px;
    	right: 100px;
	}
	.project-arrow-prev:hover{
    	top: auto;
    	bottom: -120px;
    	left: 130px;
	}
}

@media	(max-width: 618px){
	.header__contetn-title{
		font-size: 35px;
	}
	.header__link-img{
		max-width: 500px;
		top: 600px;	
	}
}

@media	(max-width: 618px){
	.header__link-img{
		max-width: 400px;
		top: 620px;	
		right: 10%
	}
}

@media	(max-width: 618px){
	.header__contetn-title{
		font-size: 23px;
		line-height: 35px
	}
	.credit__arrow-next{
		top: auto;
		right: 25%;
		bottom: -120px;
	}
	.credit__arrow-prev{
		left: 33%;
		top: auto;
		bottom: -120px;
	}
	.credit__arrow-next:hover{
		top: auto;
		right: 25%;
		bottom: -120px;
	}
	.credit__arrow-prev:hover{
		left: 33%;
		top: auto;
		bottom: -120px;
	}
}

.@media	(max-width: 555px){
	.slick-list{
		width: 285px;
		margin: 0 auto
	}
}

@media	(max-width: 555px){
	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 70px;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 100px;
	}
	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 70px;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 100px;
	}
	.partners__arrow-next{
		top: auto;
    	right: 20%;
    	bottom: -120px;
	}
	.partners__arrow-prev{
		left: 28%;
    	top: auto;
    	bottom: -120px;
	}
	.partners__arrow-next:hover{
		top: auto;
    	right: 20%;
    	bottom: -120px;
	}
	.partners__arrow-prev:hover{
		left: 28%;
    	top: auto;
    	bottom: -120px;
	}
}
@media	(max-width: 498px){
	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 40px;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 70px;
	}
	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 40px;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 70px;
	}
	.credit__arrow-next{
		top: auto;
		right: 20%;
		bottom: -120px;
	}
	.credit__arrow-prev{
		left: 28%;
		top: auto;
		bottom: -120px;
	}
	.credit__arrow-next:hover{
		top: auto;
		right: 20%;
		bottom: -120px;
	}
	.credit__arrow-prev:hover{
		left: 28%;
		top: auto;
		bottom: -120px;
	}

}



@media	(max-width: 450px){
	.header__link-img{
		max-width: 400px;
		top: 620px;	
		right: 0;
	}
	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 10px;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 40px;
	}
	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 10px;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 40px;
	}
	.credit__arrow-next{
		top: auto;
		right: 15%;
		bottom: -120px;
	}
	.credit__arrow-prev{
		left: 23%;
		top: auto;
		bottom: -120px;
	}
	.credit__arrow-next:hover{
		top: auto;
		right: 15%;
		bottom: -120px;
	}
	.credit__arrow-prev:hover{
		left: 23%;
		top: auto;
		bottom: -120px;
	}
	.item02{
		grid-column: 1 / 3;
	}
	.objects__content{
		row-gap: 15px;
	}
}

@media	(max-width: 450px){
	.project-arrow-next {
    	top: auto;
    	bottom: -120px;
    	right: 0;
	}
	.project-arrow-prev {
    	top: auto;
    	bottom: -120px;
    	left: 30px;
	}
	.project-arrow-next:hover {
    	top: auto;
    	bottom: -120px;
    	right: 0;
	}
	.project-arrow-prev:hover {
    	top: auto;
    	bottom: -120px;
    	left: 30px;
	}
	.partners__arrow-next{
		top: auto;
    	right: 15%;
    	bottom: -120px;
	}
	.partners__arrow-prev{
		left: 23%;
    	top: auto;
    	bottom: -120px;
	}
	.partners__arrow-next:hover{
		top: auto;
    	right: 15%;
    	bottom: -120px;
	}
	.partners__arrow-prev:hover{
		left: 23%;
    	top: auto;
    	bottom: -120px;
	}
	.facts__play-mobile {
    display: block;
    position: absolute;
    top: 30%;
    left: 60%;
}
}
/*Адаптация*/